


.panel {
    background-color: red;
    width: 100%;
    padding-top: calc((3 / 4) * 100%);
    position: relative;
}

.content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}




















* link que ainda não foi acessado */
a {
   color: #000;
}
/* link que foi visitado */
a:visited {
    color: #555;
}
/* quando o ponteiro do mouse passa no link */
a:hover {
    color: #999;
}
/* quando o link for selecionado */
a:active {
    color: #333;
}



































