


<TextView
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:text="@string/lorem_ipsum" />





















* link que ainda não foi acessado */
a {
   color: #000;
}
/* link que foi visitado */
a:visited {
    color: #555;
}
/* quando o ponteiro do mouse passa no link */
a:hover {
    color: #999;
}
/* quando o link for selecionado */
a:active {
    color: #333;
}



































